<DOCTYPE html>
<head>
   <title>Pool Pump Interface</title>
   <link rel="stylesheet" href="bootstrap.min.css">
   <style>
     .row-margin-05 { margin-top: 2em; }
   </style>
</head>

<body>
   <h1 align='center'>Pool Pump Interface</h1>

   <div class="container" align='center'>
     <div class="row row-margin-05" align='center'>
       <div class="col-4">
         <a href="/setSchedule" class="btn btn-lg btn-primary" role="button">Set Pump Schedule</a>
         <a href="/setTime" class="btn btn-lg btn-primary" role="button">Set System Time</a>
       </div>
     </div>
     <div class="row row-margin-05">
       <div class="col-4">
         <a href="/setSingle" class="btn btn-lg btn-primary" role="button">Schedule a One-time Run</a>
         <a href="/toggle" class="btn btn-lg btn-primary" role="button">Toggle Pump On or Off</a>
     </div>
     <div class="row row-margin-05 justify-content-around">
       <div class="col-4">
         <a href="/logs" class="btn btn-lg btn-primary" role="button" align="center">View Logs</a>
         <a href="/users" class="btn btn-lg btn-primary" role="button">Add or Remove User</a>
     </div>
   </div>

</body>
</html>
