<DOCTYPE html>
<head>
   <title>Pool Pump Interface</title>
   <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}" />
</head>
<html>
<body>
  <h1 align='center'>Pool Pump Interface</h1>
	<h2 align='center'>Set a one-time schedule</h2>

	<div class="container" align='center'>

        <div><b>Current System Time:</b></div>
        <div id="time">{{ curr_time }}</div><br>

        <div><b>Current One-Time Schedule:</b></div>
        <div>Pump turns on at {{ curr_on }}</div>
        <div>Pump turns off at {{ curr_off }}</div>

        <br>
        <div style="width:400px;"><b>Enter the start and stop times.</b></div><br>
        <form action="{{ url_for('set_one_time_run') }}" method="post">
            <div class="row">
                <label for="new_on">Start time:</label>
                <input type="time" id="new_on" name="new_on" size="2">
            </div>

            <div class="row">
                <label for="new_off">Stop time:</label>
                <input type="time" id="new_off" name="new_off" size="2">
            </div>
            <br><br>
            <input type="submit" value="Save" class="submitbutton">
        </form>
        <form action="{{ url_for('main') }}">
            <input type="submit" value="Return (don't save)"  class="returnbutton">
        </form>
    </div>

</body>
</html>
