<DOCTYPE html>
<head>
   <title>Pool Pump Interface</title>
   <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}" />
</head>
<html>
<body>
    <h1 align='center'>Pool Pump Interface</h1>
	<h2 align='center'>Set system time</h2>

	<div class="container" align='center'>
        <div><b>System currently has:</b></div>
        <div id="time">{{ curr_time }}</div>

        <br>
        <div>Enter the correct time and click "save".</div>
        <form action="{{ url_for('set_time') }}" method="post">
            <div>
                <label for="newTime">New time setting:</label>
                <input type="datetime-local" id="newTime" name="newTime" size="17">
            </div>
            <br><br>
            <input type="submit" value="Save" class="submitbutton">
        </form>
        <form action="{{ url_for('main') }}">
            <input type="submit" value="Return (don't save)"  class="returnbutton">
        </form>
    </div>

</body>
</html>
